@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
    font-family: 'Anta', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ffdc34, #4cb8c4, #6b52ae);
    background-size: 600% 600%;
    animation: gradientBG 20s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 40px;
    height: auto;
    margin: 0 10px; /* Adjust the margin as needed */
}

.header-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 10px; /* Adjust the margin as needed */
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 300px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover {
    transform: translateY(-5px) rotateX(10deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.character-info {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    transition: opacity 0.3s ease;
}

.card:hover .character-info {
    display: block;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin: 0;
    color: #333;
}

.card-content p {
    margin: 10px 0;
    color: #666;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
